
# Setup identical ssh key for host machine


ssh_authorized_keys:
  - {{ .PubKey }}
  - {{ .HostPubKey }}

ssh_keys:
  rsa_private: |
    {{- .PrivKey | nindent 6 }}

  rsa_public: {{ .PubKey }}


# Set up software sources
apt:
  http_proxy: {{ .HTTPProxy }}
  https_proxy: {{ .HTTPSProxy }}
  primary:
    - arches: [default]
      uri: http://mirrors.tuna.tsinghua.edu.cn/ubuntu/
package_update: true
packages:
  - apt-transport-https
  - curl
  - net-tools

write_files:
  - content: |
      #!/bin/bash
      cat <<EOF | tee /etc/sysctl.d/k8s.conf
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      EOF

      iptables -A INPUT -p tcp --dport 22 -j ACCEPT 
      iptables -A INPUT -p tcp --dport 6433 -j ACCEPT # api server
      iptables -A INPUT -p tcp --match multiport  --dports 2379:2380 -j ACCEPT # etcd
      iptables -A INPUT -p tcp --dport 10250 -j ACCEPT # kubelet api
      iptables -A INPUT -p tcp --dport 10251 -j ACCEPT # kube-scheduler
      iptables -A INPUT -p tcp --dport 10252 -j ACCEPT # kube-controller-manager

      # For worker nodes
      iptables -A INPUT -p tcp --match multiport --dports 30000:32767 # node ports
      sudo sysctl --system
    path: /run/bootstrap/init_network.sh
    permissions: '0777'
  
  - content: |
      #!/bin/bash
      
      # If you need proxy to install kubernetes
      # Set following variables
      export http_proxy={{ .HTTPProxy }}
      export https_proxy={{ .HTTPSProxy }}
      
      curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
      cat <<EOF | sudo tee /etc/apt/sources.list.d/kubernetes.list
      deb https://apt.kubernetes.io/ kubernetes-xenial main
      EOF
      sudo apt-get update
      sudo apt-get install -y kubelet kubeadm kubectl
      sudo apt-mark hold kubelet kubeadm kubectl
    path: /run/bootstrap/init_kube.sh
    permissions: '0777'


  # Init master node
  - content: |
      #!/bin/bash
      kubeadm init

    path: /run/bootstrap/init.sh

  # Join master node
  - content: |
      #!/bin/bash
    path: /run/bootstrap/join.sh

runcmd:
  - mkdir -p /var/log/bootstrap
  - curl -fsSL https://get.docker.com -o get-docker.sh; sh get-docker.sh
  - sh /run/bootstrap/init_network.sh >> /var/log/bootstrap/init_network.log
  - sh /run/bootstrap/init_kube.sh >> /var/log/bootstrap/init_kubeadm.log
