http-proxy: "http://10.45.126.1:1091"
https-proxy: "http://10.45.126.1:1091"
# It is suggested that you use multipass bridge network 
# in case of ip change

pub-key-dir: "/home/temp/.ssh/cloud.pub"
priv-key-dir: "/home/temp/.ssh/cloud"
host-pub-key-dir: "/home/temp/.ssh/id_rsa.pub"

image: "file:///home/makaveli/Desktop/mediumkube/ubuntu.img"
cloud-init: "./cloud-init.yaml"

nodes:
  - name: node1
    cpu: "2"
    mem: "2G"
    disk: "20G"
    mounts:
      - host: /home/temp/mediumkube/vmlogs/node1
        vm: /var/log/bootstrap
  - name: node2
    cpu: "2"
    mem: "2G"
    disk: "20G"
    mounts:
      - host: /home/temp/mediumkube/vmlogs/node2
        vm: /var/log/bootstrap

# see https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
# see https://coreos.com/flannel/docs/latest/kubernetes.html for Flannel guides
kube-init:
  args:
    - key: "ignore-preflight-errors"
      value: "control-plane-prepare"
    - key: "pod-network-cidr"
      value: "10.244.0.0/16"

# MediumKube configs

tmp_dir: /home/temp/mediumkube

# Kubeconfig inside the virtual machine
# For kubernetes client
vm_kube_config_dir: /home/ubuntu/.kube/config
vm_log_dir: /var/log/bootstrap
