http-proxy: "172.16.184.20:1091"
https-proxy: "172.16.184.20:1091"

pub-key-dir: "/home/temp/.ssh/cloud.pub"
priv-key-dir: "/home/temp/.ssh/cloud"
host-pub-key-dir: "/home/temp/.ssh/id_rsa.pub"

image: "file:///home/temp/u_20.04.img"
cloud-init: "./cloud-init.yaml"

node-num: 3
node:
  cpu: "2"
  mem: "2G"
  disk: "20G"

# see https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
kube-init:
  args:
    - key: "ignore-preflight-errors"
      value: "control-plane-prepare"